.cardsBackground {
  width: auto;
  background-color: $color-2;
  padding: 56px 50px 43px;
  border-radius: 25px;
  margin: 43px auto 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 100px;
  grid-column-gap: 200px;
}
