.cardsBackground {
  width: auto;
  padding: 56px 50px 43px;
  border-radius: 25px;
  margin: 43px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 80px;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    &__text {
      display: flex;
      width: 80%;
      height: 60px;
      padding: 10px;
      border-radius: 20px;
      background-color: #ebcdba;
      color: black;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      margin: auto 20px;
      bottom: 20px;
 }
  
    &__card {
      display: block;
      width: 100%;
      height: 339px;
      border: 2px solid black;
      border-radius: 10px;
      object-fit: contain;
      margin: 0 auto;
      padding: 10px;
      transition: transform 0.9s ease, width 0.3s ease, background-color 0.5s ease;
    }
    
    &:hover {
      .cards__card {
        transform: rotate(5deg) scale(0.95);
        background-color: rgba(0, 0, 0, 0.284);
      }
    }
  }
  
