@media (max-width: 800px) {
  /**   General **/

  main {
    margin: 20px;
  }
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  footer {
    flex-direction: column-reverse;
    gap: 10px;
    .footerCitation{
      width: 80%;
      padding-top: 10px;
    }
    .footerLogo {
      text-align: center;
    }
    .footerCitation {
      font-weight: 800;
      text-align: center;
    }
  }

  h3 {
    font-size: x-large;
  }

  h4 {
    font-size: large;
  }

  /** Header **/

  .logoJm {
    height: 80px;
  }

  .navigation {
    ul {
      flex-direction: column;
    }
  }

  /** Présentation **/

  .banner {
    height: auto;
    img{
      height: 150px;
      margin-right: 0;
    }

  }
  .cv_text {
    padding: 0;
    margin-bottom: 0;
    p{
      font-size: smaller;
    }
  }
  .icone {
    height: 70px;
  }
  .listIcones {
    gap: 20px;
  }

  /** Home **/

  .smiley-hand {
    font-size: 2em;
  }
  .home__structure__components {
    img {
      height: 200px;
    }
    p {
      width: 300px;
      padding-bottom: 50px;
    }
  }
  .homeLiens {
    img {
      height: 20px;
      padding-top: 0;
    }
    gap: 20px;
  }

  /** Cards **/




  /** Project **/

  /** carousel **/

  .carousel-container {
    .carousel {
      display: flex;
      flex-direction: column;
    }
    .carousel__pagination {
      display: none;
    }
    .carousel__arrow {
      img {
        width: 150px;
      }
    }
    .mediaQueriesLeft {
      display: block;
    }
    .mediaQueriesRigth {
      display: none;
    }
    .arrowMediaQueries {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }
    .carousel__image-container {
      width: 300px;
    }
  }

  /** Project **/

  .project {
    flex-direction: column;
    gap: 30px;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }
  }
  .project__right {
    align-items: flex-start;
  }
  .collapse__project {
    display: flex;
    flex-direction: column;
    .collapseLiens{
      align-items: baseline;
      a {
        font-size: 20px;
      }
    }
  }
}
