@media (max-width: 800px) {
  main {
    margin: 20px;
  }
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .navigation {
    ul {
      flex-direction: column;
  }
}
  .banner {
    height: auto;
  }
  .cv_text {
    padding: 0;
  }
  .smiley-hand {
    font-size: 2em;
  }
  .home__structure__components{
    img {
      height: 200px;
    }
  }
}
