.navigation {
  ul {
    display: flex;
    margin: 30px;
    color: white;
    cursor: pointer;
    gap: 60px;
    list-style-type: none;
    li  {
      color: #323232;
    }
    div {
      display: flex;
      gap: 60px;
    }
  }

}